@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /* Cores */
    --cor-primaria: hsl(0, 100%, 74%) ;
    --cor-secundaria: hsl(154, 59%, 51%);
    --cor-terciaria: hsl(248, 32%, 49%);
    --cor-quarta: hsl(249, 10%, 26%);
    --cor-quinta: hsl(246, 25%, 77%);
    /* Fontes */
    --fonte-primaria: 'Poppins', sans-serif;
}

body {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: var(--fonte-primaria);
    background-color: var(--cor-primaria);
    background-image: url(images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
}

.left-side {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.left-side h1 {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}

.left-side p {
    color: #fff;
    line-height: 1.8em;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 500px;
}

.price {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: var(--cor-terciaria);
    color: #fff;
    border-radius: 8px;
}

.price h2 {
    text-align: center;
}

.price span {
    font-weight: 600;
}

.form {
    background-color: #fff;
    border-radius: 8px;
    padding: 2em;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-text {
    width: 405px;
    height: 20px;
    padding: 1em;
    border-color: transparent;
    border-radius: 8px;
}

.input-text:focus {
    outline: 2px solid var(--cor-quinta);
}

.btn-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-secundaria);
    border-radius: 8px;
    width: 100%;
    height: 50px;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.btn-submit:hover {
    background-color: #fff;
    color: var(--cor-secundaria);
}

.privacy {
    margin-top: .7em;
    text-align: center;
}

.privacy label {
    cursor: pointer;
}

.privacy span {
    color: var(--cor-primaria);
    font-weight: 700;
}

@media (max-width: 1100px) {
    .left-side,
    .right-side {
        width: 80%;
    }

    .left-side {
        text-align: center;
    }
}

@media (max-width: 630px) {
    main {
        margin: 3em 0;
    }

    .left-side,
    .right-side {
        width: 90%;
    }

    .input-text {
        width: 100%;
        padding: 1em 0 1em 1em;
    }
}

@media (max-width: 380px) {
    .left-side h1 {
        font-size: 2.5em;
    }
}